<body>
  <form [formGroup]="postForm" class="post-form">
    <input id="name" type="text" placeholder="Name*" style="text-align: center;" formControlName="name" class="cutom-input"/>
    
    <input id="image" type="text" placeholder="Image*" style="text-align: center;" formControlName="img" class="cutom-input"/>

    <textarea id="content" rows="5" placeholder="Content*" style="text-align: center;" formControlName="content" class="cutom-input"></textarea>

    <input id="postedBy" type="text" placeholder="posted By*" style="text-align: center;" formControlName="postedBy" class="cutom-input"/>
        
    <div class="tags-container">
      <button *ngFor="let tag of tags; let i = index" class="tag-button" (click)="remove(i)">
        {{ tag }}
        <mat-icon class="remove-icon">cancel</mat-icon>
      </button>
    </div>

    <input id="tag-input"
          type="text"
          placeholder="Add a tag..."
          (keyup.enter)="add($event)" />

    <div class="form-footer">
      <button class="custom-button">Create new post</button>
    </div>
  </form>
</body>